body{
    background: url('./img/eiliv-aceron-ZuIDLSz3XLg-unsplash.jpg');
    background-color: rgb(0, 0, 0);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    gap: 20px;
}

header {
    display: grid;
    grid-template-columns: 3fr;
    justify-content: center;
    align-self: center; 
}

header > nav {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    gap: 15px;
}

.container >#content {
    display: grid;
    min-height: 100vh;
    /* width: 100%; */
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.container >#content>.homeContainer {
    display: grid;
    color: white;
    grid-template-columns: minmax(500px, 700px);
    grid-auto-rows: 60px;
    background: rgba(219, 219, 200, 0.72);
    border-radius: 10px;
    padding: 10px;
    line-height: 2.5em;
}

h1 {
    color: rgb(109, 18, 18);
}

p {
    color: rgb(42, 29, 102);
}

p:hover {
    color: rgb(0, 0, 0);
}

button {
    background: rgba(172, 164, 164, 0.32);
    color: rgb(255, 255, 255);
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 15px;
    margin: 0;
    font-weight: bold;
}

button:hover:nth-last-child(1) {
    background: #7a1d1d;
    color: beige;
}

button:hover:nth-last-child(2) {
    background: #123d8b;
    color: beige;
}

button:hover:first-child {
    background: #8b6112;
    color: beige;
}

.formButton {
    background: #030303;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
}

.formButton:hover {
    background: #7a1d1d;
}

.footer {   
    color: rgb(255, 255, 255);
    font-weight: bold;
    
}

h1:hover {
    color: #141e57;
}

.formHeader {
    font-size: 45px;
}

.card-container {
    display: grid;
    gap: 10px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(320px, 320px));
    grid-auto-rows: 300px;
}

.card-container>.card {
    display: grid;
    height: 270px;
    background-color: rgb(243, 228, 228);
    border-radius: 8px;
    border-left: 5px solid goldenrod;
    padding: 10px;
    margin-bottom: 10px;
}

.menu-button {
    background: rgb(110, 29, 29);
    color: white;
    font-size: 20px;
    border-radius: 8px;
}

.menu-details {
    color: #4b4945;
}

.title, .menu-details>.price {
    color: black;
}

.card-container >.card>.card-image {
    display: grid;
    justify-items: center;
 }

.card-container >.card>.card-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card-container >.card> .menu-button {
    justify-self: end;
}

